<div class="container">
	<p class="text-center">
	Login with your Reddit account to find out your karma breakdown and correctly generate your <a href="http://www.reddit.com/r/KarmaAnalysis">/r/KarmaAnalysis</a> post.
	</p>
	<div class="text-center"> 
		<p><a class="btn btn-info btn-lg" href="/auth/reddit" role="button">Login with Reddit</a></p>
	</div>
</div>